html {
  background-color: rgb(252, 252, 252);
}

.leftBanner {
  background-color: #3b3e47;
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 300px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
  text-align: center;
}

.leftBanner h1 {
  margin-top: 100px;
  color: #000000;
  font-size: 50px;
  font-weight: 700;
  margin-bottom: 20px;
}

.leftBanner img {
  margin-top: 50px;
  width: 200px;
  height: 200px;
  border-radius: 50%;

  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
}

.leftBanner h2 {
  color: #000000;
  font-size: 30px;
  font-weight: 700;
  margin-top: 20px;
  margin-bottom: 50px;
}
.leftBanner a {
  font-size: 30px;
  margin-left: 10px;
}

.leftBanner a:hover {
  border-bottom: 1px solid #000000;
}

.content {
  margin-left: 300px; /* Same as the width of the sidebar */
  height: 100%;
}

.blog-list {
  max-width: 800px;
  margin: 0 auto;
  padding: 1rem;
}

.blog-list {
  max-width: 800px;
  margin: 0 auto;
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

.searchBar {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
  width: 100%;
}

.inputForm {
  display: flex;
  align-items: center;
  width: 100%;
}

.inputForm input[type="text"] {
  flex-grow: 1;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-right: 0.5rem;
  min-width: 0;
}

.blog-post {
  margin-bottom: 1rem;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.blog-post h2 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.blog-post p {
  font-size: 1rem;
  margin-bottom: 0.5rem;
  line-height: 1.5;
}
